<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
    reiciendis perspiciatis, quibusdam ipsa corrupti quasi totam voluptatibus
    aut dolorum, minima vero. Dicta illum officia voluptate assumenda non,
    repudiandae totam at.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Emellet Code</h3>
        <p class="quote__company">Startup Tech Hub</p>
      </div>
    </div>
  </footer>
</blockquote>
